#!/bin/bash --login
#SBATCH --time={{ time }}
#SBATCH --nodes={{ nodes }}
#SBATCH --ntasks-per-node={{ ntasks_per_node }}
#SBATCH --gpus-per-node={{ gpus_per_node }}
#SBATCH --mem-per-cpu={{ mem_per_cpu }}
#SBATCH --output={{ output }}
#SBATCH --open-mode=append
#SBATCH --signal={{ signal }}
{% if requeue %}
#SBATCH --requeue
{% endif %}
{% if qos %}
#SBATCH --qos={{ qos }}
{% endif %}
#SBATCH --chdir={{ chdir }}

{{ activate_cmd }}

nvidia-smi

{{ run_cmd }}
